doctype html
html(lang='de')
  head
    title Schulungen
    style.
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
  body
    h1 Schulungsübersicht


    - if(schulungen.length === 0) {
        p Es werden keine Schulungen angeboten
    - } else {
        table(style='width:100%')
            tbody
                tr  
                    th Id
                    th Name
                    th Beschreibung
                    th Dozent
                    th Preis
                    th Start
                    th Ende
                each item in schulungen
                    tr
                        td #{item.id}
                        td #{item.name}
                        td #{item.beschreibung}
                        td #{item.dozName}
                        td #{item.preis}
                        td #{item.start}
                        td #{item.end}
    - }

    h1 Schulung anlegen

    form(method='post', action='createSchulung', id='anlegenForm')
        table
            tr  
                th
                th
            tr
                td Id
                td() 
                    input(type='text', name='id')
            tr
                td Name
                td() 
                    input(type='text', name='name')
            tr
                td Beschreibung
                td() 
                    input(type='text', name='beschreibung')
            tr
                td Dozent
                td() 
                    input(type='text', name='dozent')
            tr
                td Preis
                td() 
                    input(type='text', name='Preis')
            tr
                td Start
                td() 
                    input(type='text', name='start')
            tr
                td Ende
                td() 
                    input(type='text', name='end')
            tr
                td
                td()
                    input(type='submit', value='Eintragen')